* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans'), url('../fonts/opensans-normal.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    src: local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}

html {
    -webkit-text-size-adjust:100%;
    font-size: 10px;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fff;
    color: #333;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

ul {
    padding-left: 2rem;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

hr {
    border: 1px solid #eee;
}

#page-content {
    display: flex;
    flex-grow: 1;
}

#app {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    min-width: 1200px;
}
#app h1,
#app h2,
#app h3,
#app h4 {
    color: #444;
    display: inline-block;
    margin-top: 0;
    position: relative;
}

#app .main-content-container {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

#app .main-content {
    position: relative;
    width: 100%;
    flex-direction: column;
    flex-grow: 1 1 auto;
    display: flex;
}

/* form fields */
#app .intro {
    padding-top: 6rem;
    padding-bottom: 3rem;
    flex: 0 0 auto;
    text-align: center;
}
#app .intro h2 {
    text-align: center;
    font-size: 200%;
    font-weight: 300;
    font-color: #999;
}

/* Buttons */

#app .flex-end .button-container.vertical {
    flex-direction: column;
}

#app .flex-end {
    flex: 0 0 auto;
    display: flex;
}

#app .flex-end .button-container {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

#app .button-container button {
    width: 100%;
    display: block;
}

#app .button-container {
    padding-top: 1rem;
    display: flex;
    margin: 0;
    width: 100%;
}

#app input.field-input[type=file] {
    border: none;
    padding-top: 0;
    margin-top: 0;
    cursor: pointer;
}

#app .button-container button,
#app .button-container input[type=button],
#app .button-container input[type=submit] {
    min-width: 14.5rem;
    margin-left: 1rem;
}
#app .button-container button:first-child {
    margin-left: 0;
}
#app button.btn-default {
    padding: 0.7rem 2rem;
}
#app .split-menu .section button.btn-dangerous {
    background-color: #933322;
    color: white;
    flex-shrink: 2;
}
#app button.btn-normal {
    background-color: #eee;
}

/*  Split menu */

#app .split-menu .section-container:first-child {
    border-right: 1px solid #ccc;
}

#app .split-menu .section-container {
    float: left;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 50%;
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    overflow: visible;
}
#app .split-menu .section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 70%;
    margin: auto;
    overflow: auto;
    flex: 1 1 auto;
}

#app .split-menu .wide-section {
    width: 100%;
}

#app .split-menu .extra-wide-section {
    width: 100%;
    max-width: none;
}

#app .split-menu .section-wrapper {
    margin: 0 2rem;
}

#app .flex-column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
#app .section .scroll-container {
    flex: 1 1 auto;
    overflow: auto;
}
#app .split-menu .single-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 50rem;
}

#app .split-menu {
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

#app .split-menu .section input {
    box-sizing: border-box;
    flex-shrink: 0;
}

#app .split-menu th:last-child {
    text-align: right;
    width: 22rem;
}
#app .split-menu td:last-child {
    text-align: right;
    width: 22rem;
}
#app .simple-menu {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
}
#app .simple-menu.scroll {
    height: calc(100% - 20rem);
}
#app .simple-menu .menu-item:first-of-type {
    border-top: 1px solid #eee;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#app .simple-menu .menu-item:last-of-type {
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#app .simple-menu .menu-item.active {
    background: #116095;
    color: #fff;
}
#app .simple-menu .menu-item.active:hover {
    background: #1175aa;
    color: #fff;
}
#app .simple-menu .menu-item.no-click {
    cursor: default;
}
#app .simple-menu .menu-item {
    padding: 2rem;
    border: 1px solid #eee;
    border-bottom: none;
    background: #fafafa;
    cursor: pointer;
    text-align: center;
}
#app .simple-menu .menu-item.detailed {
    height: 10rem;
    text-align: left;
}
#app .simple-menu .menu-item.detailed.dynamic {
    height: auto;
}
#app .simple-menu .menu-item:hover {
    background: #fff;
}
#app .simple-menu .menu-item-title {
    display: block;
    font-size: 110%;
}
#app .simple-menu .menu-item-description {
    font-size: 100%;
    font-weight: 100;
}
#app .simple-menu .menu-item-link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 2rem;
    color: inherit;
}
#app .simple-menu .basic-menu-item-link {
    height: 100%;
    width: 100%;
    display: block;
    color: inherit;
}
#app .simple-menu a:hover {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:active {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:focus {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:visited {
    text-decoration: none;
}
#app .simple-menu .menu-item.paddingless {
    padding: 0;
}

#app .menu-item label {
    margin: 0;
}
#app .menu-item .status {
    color: #666;
    font-size: 90%;
}
#app .split-menu .sep {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-shrink: 0;
}
#app .split-menu .section .btn {
    flex: 1 1 auto;
    margin-bottom: 0.5rem;
}

/* field input */

#app .field-container {
    margin-bottom: 1.5rem;
}

#app .field-container {
    margin-bottom: 1.5rem;
}

#app .validation-error {
    color: #933322;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#app .field-input-form {
    width: calc(100% - 24px);
    overflow: visible;
    box-sizing: border-box;
}

#app .field-input-form .field-input {
    display: inline-block;
    width: 100%;
}

#app .field-details-item-container {
    padding-bottom: 1rem;
}

#app .field-label {
    margin-bottom: 0.5rem;
    color: #777;
    display: block;
    clear: both;
    font-weight: normal;
}

#app .field-label.required:after {
    content: " *";
}

#app select.field-input {
    min-height: 3rem;
    background: #fff;
    padding-left: 0.5rem;
    font-size: 90%;
}

#app select.field-input option {
    padding-left: 1rem;
}

#app select:disabled {
    background: #ebebe4;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#app input.field-input, textarea.field-input, pre.field-input {
    width: 15rem;
    box-sizing: border-box;
    min-height: 3rem;
    padding: 0.5rem;
    margin: 0;
    color: #666;
    font-size: 90%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-right: 2rem;
}

#app input.field-input-checkbox {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    position: relative;
}

#app pre.field-input {
    background: #fafafa;
    color: #666;
    min-height: 3rem;
    font-family: Arial, sans-serif;
}

#app pre.subtle {
    background: #fafafa;
    border: 1px solid #eee;
    color: #666;
    font-family: Arial, sans-serif;
    padding: 0.5rem;
    min-height: 30px;
}

#app .back-to-launcher {
    position: fixed;
    z-index: 10000;
    bottom: 0.5rem;
    left: 1rem;
}

#app iframe.full-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app a.subtle-link {
    text-decoration: none;
    color: #bbb;
}

#app a.subtle-link:hover {
    text-decoration: none;
    color: #666;
}

#app .back-to-launcher a {
    font-size: 240%;
}

#app .align-center {
    width: 100%;
    text-align: center;
}

#app .spinner {
    padding: 4rem 0;
}

#app .spinner-small {
    width: 24px;
}

#app .subtle-text {
    text-align: center;
    color: #666;
    font-size: 80%;
    position: relative;
    top: -3rem;
    min-height: 2rem;
}

#app .status-green {
    color: #339322;
    font-weight: bold;
    text-transform: uppercase;
}

#app .status-red {
    color: #933322;
    font-weight: bold;
    text-transform: uppercase;
}

#app .status-grey {
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}

#app .server-info-panel {
    background: #fafafa;
    border: 1px solid #eee ;
    flex: 1 1 auto;
    padding: 2rem;
    border-radius: 1rem;
}

#app .tabs {
    list-style: none;
    margin-bottom: 0;
}

#app .tabs > .tab a {
    color: #666;
}

#app .tabs > .tab.active a {
    color: #333;
}

#app .tabs > .tab {
    list-style: none;
    margin-left: 0.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
}

#app .tabs > .tab.active {
    background-color: #fafafa;
    position: relative;
    top: 1px;
}

#app .tabs > .tab:hover {
    background-color: #fafafa;
}

#app .tabs > .tab.active:hover {
    background-color: #fff;
}

.banner {
    margin: 1rem 0;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0.3rem;
}

.banner h5 {
    margin-top: 0;
}

.banner.warning {
    background-color: #ffa;
    border: 1px solid #ee5;
}

.banner.info {
    background-color: #fafafa;
    border: 1px dashed #ccc;
}

.detector-authentication-status {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.detector-authentication-status.success {
    background-color: #afa;
    border: 1px solid #9e9;
}

.detector-authentication-status.failure {
    background-color: #f39392;
    border: 1px solid #e38382;
}

#app input.dataset-input {
    box-sizing: border-box;
    min-height: 3rem;
    padding: 0.5rem;
    margin: 0;
    color: #666;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    flex-grow: 1;
}

#app .add-dataset {
    display: flex;
    margin-right: 6rem;
}

#app .split-menu .add-dataset {
    width: 100%;
    display: flex;

}

#app .split-menu .add-dataset .btn {
    flex-grow: 0;
    font-size: 150%;
    padding: 0rem 1rem;
    margin-left: 0.3rem;
    margin-bottom: 0;
}

#app .dataset-remove {
    position: relative;
    float: right;
    right: 2.5rem;
    background: white;
    border: 1px solid #ccc;
}

#app .dataset-form {
    width: 100%;
    display: flex;
}

.info-icon {
    position: relative;
    top: -1rem;
    font-size: 180%;
    color: #39e;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    float: left;
}

.learn-more-link {
    font-size: 9pt;
    padding-left: 0.3rem;
}

.section-intro {
    padding-bottom: 1rem;
}

pre {
    white-space: pre-line;
}
